In [7]:
import random
import numpy as np
import pandas as pd
import itertools

jogadores = int(input("Quantas pessoas vão jogar no campeonato?\n"))

print(f"\nEntão vão ser {jogadores} jogadores? Vamos lá!")

nomes = list()

for c in range(1, jogadores + 1):
    x = (input(f'Digite o {c}º jogador: '))
    nomes.append(x)
    
times = ["Roma","Napoli","Sevilla","Villarreal CF","Benfica","Leipzig", "New Castle", "West Ham", "Lazio"]

tfinais = times
random.shuffle(tfinais)
del tfinais[jogadores:9]

placares = ["Jogos", "V", "D", "E","Pts","SG"]
placa = []

dicts = {}
for i,j in zip(nomes, tfinais):
    dicts[i] = j

dicts_pd = pd.DataFrame(list(dicts.items()),
                   columns=['Nome', 'Time'])

print("\nOs times foram sorteados e ficou da seguinte forma:")
display (dicts_pd)

#ate aqui esta certo

#zera os placares
for i in range(1, jogadores + 1):
    placa.append(0)

trodadas = tfinais


dicts = {}
for i,j in zip(nomes,times):
    dicts[i] = j

plac = {}
for i,j in zip(placares,placa):
    plac[i] = j

# criar uma tabela
data = {'Jogador': nomes, 'Time': tfinais, 'Jogos':placa,'Pts':placa, 'V':placa,'E':placa,'D':placa,'GF':placa,'GS':placa,'SG':placa}
df1 = pd.DataFrame(data)
listaaqui = tfinais 

combin = list(itertools.combinations(tfinais, 2))
count = 0
random.shuffle(combin)
count2=0
for i in combin:
    count += 1
    print("\n%s confronto: %r"%(count,i))

    
print("\nVamos começar!!!")

respostas = []
while len(respostas) < len(combin):
    qual = int(input("Qual confronto você quer preencher?\n"))
    
    if qual in respostas:
        print("\nVocê já respondeu esse confronto. Escolha outro.\n")
        continue        
    respostas.append(qual)
    
    confrontonumero = (qual - 1)
    
    cr = combin[confrontonumero]
    timesss1= cr[0]
    timesss2= cr[1]    
    #indices dos times na tfinal
    for i in tfinais:
        if i == timesss1:
            indice1 = tfinais.index(i)
    for i in times:
        if i == timesss2:
            indice2 = tfinais.index(i)
            
    print("\nConfronto:",cr)
    print("\nQuanto foi o placar?")
    a = int(input("\n%s : "%(timesss1)))
    
    b = int(input("\n%r : "%(timesss2)))
    
    if a > b:
        print("\nO %s ganhou a partida!"%(timesss1))
        #Pontos pro vencedor, sobe a vitoria e derrota
        df1.loc[indice1, 'Pts'] = df1.loc[indice1, 'Pts'] + 3
        df1.loc[indice1, 'V'] = df1.loc[indice1, 'V'] + 1
        df1.loc[indice2, 'D'] = df1.loc[indice2, 'D'] + 1
                
        #Quantidade de partidas
        df1.loc[indice1, 'Jogos'] = df1.loc[indice1, 'Jogos'] + 1
        df1.loc[indice2, 'Jogos'] = df1.loc[indice2, 'Jogos'] + 1
                
        #time1 pontos de gols
        df1.loc[indice1, 'GF'] = df1.loc[indice1, 'GF'] + a
        df1.loc[indice1, 'GS'] = df1.loc[indice1, 'GS'] + b

        #time2 pontos de gols
        df1.loc[indice2, 'GF'] = df1.loc[indice2, 'GF'] + b
        df1.loc[indice2, 'GS'] = df1.loc[indice2, 'GS'] + a
                
        #Saldo de gols
        df1.loc[indice1, 'SG'] = df1.loc[indice1, 'SG'] + a-b
        df1.loc[indice2, 'SG'] = df1.loc[indice2, 'SG'] + b-a
                
    elif a == b:
        print("\nOs times empataram!")
        df1.loc[indice1, 'Pts'] = df1.loc[indice1, 'Pts'] + 1
        df1.loc[indice2, 'Pts'] = df1.loc[indice2, 'Pts'] + 1
        df1.loc[indice1, 'E'] = df1.loc[indice1, 'E'] + 1
        df1.loc[indice2, 'E'] = df1.loc[indice2, 'E'] + 1
                
        #Quantidade de partidas
        df1.loc[indice1, 'Jogos'] = df1.loc[indice1, 'Jogos'] + 1
        df1.loc[indice2, 'Jogos'] = df1.loc[indice2, 'Jogos'] + 1
                
        #time1 pontos de gols
        df1.loc[indice1, 'GF'] = df1.loc[indice1, 'GF'] + a
        df1.loc[indice1, 'GS'] = df1.loc[indice1, 'GS'] + b

        #time2 pontos de gols
        df1.loc[indice2, 'GF'] = df1.loc[indice2, 'GF'] + b
        df1.loc[indice2, 'GS'] = df1.loc[indice2, 'GS'] + a  
                
        #Saldo de gols
        df1.loc[indice1, 'SG'] = df1.loc[indice1, 'SG'] + a-b
        df1.loc[indice2, 'SG'] = df1.loc[indice2, 'SG'] + b-a
    else:
        print("\nO %r ganhou a partida!"%(timesss2))

        #Quantidade de partidas
        df1.loc[indice1, 'Jogos'] = df1.loc[indice1, 'Jogos'] + 1
        df1.loc[indice2, 'Jogos'] = df1.loc[indice2, 'Jogos'] + 1
                
        df1.loc[indice2, 'Pts'] = df1.loc[indice2, 'Pts'] + 3
        df1.loc[indice2, 'V'] = df1.loc[indice2, 'V'] + 1
        df1.loc[indice1, 'D'] = df1.loc[indice1, 'D'] + 1

        #time1 pontos de gols
        df1.loc[indice1, 'GF'] = df1.loc[indice1, 'GF'] + a
        df1.loc[indice1, 'GS'] = df1.loc[indice1, 'GS'] + b

        #time2 pontos de gols
        df1.loc[indice2, 'GF'] = df1.loc[indice2, 'GF'] + b
        df1.loc[indice2, 'GS'] = df1.loc[indice2, 'GS'] + a 
            
        #Saldo de gols
        df1.loc[indice1, 'SG'] = df1.loc[indice1, 'SG'] + a-b
        df1.loc[indice2, 'SG'] = df1.loc[indice2, 'SG'] + b-a

    df1 = df1.sort_values('Pts', ascending=False)               
    display(df1)

Quantas pessoas vão jogar no campeonato?
4

Então vão ser 4 jogadores? Vamos lá!
Digite o 1º jogador: Patrick
Digite o 2º jogador: João
Digite o 3º jogador: Denis
Digite o 4º jogador: Andrew

Os times foram sorteados e ficou da seguinte forma:

      Nome           Time
0  Patrick        Sevilla
1     João           Roma
2    Denis         Napoli
3   Andrew  Villarreal CF

1 confronto: ('Roma', 'Villarreal CF')

2 confronto: ('Sevilla', 'Roma')

3 confronto: ('Roma', 'Napoli')

4 confronto: ('Napoli', 'Villarreal CF')

5 confronto: ('Sevilla', 'Villarreal CF')

6 confronto: ('Sevilla', 'Napoli')

Vamos começar!!!
Qual confronto você quer preencher?
1

Confronto: ('Roma', 'Villarreal CF')

Quanto foi o placar?

Roma : 3

'Villarreal CF' : 0

O Roma ganhou a partida!

   Jogador           Time  Jogos  Pts  V  E  D  GF  GS  SG
1     João           Roma      1    3  1  0  0   3   0   3
0  Patrick        Sevilla      0    0  0  0  0   0   0   0
2    Denis         Napoli      0    0  0  0  0   0   0   0
3   Andrew  Villarreal CF      1    0  0  0  1   0   3  -3

Qual confronto você quer preencher?
2

Confronto: ('Sevilla', 'Roma')

Quanto foi o placar?

Sevilla : 0

'Roma' : 0

Os times empataram!

   Jogador           Time  Jogos  Pts  V  E  D  GF  GS  SG
1     João           Roma      2    4  1  1  0   3   0   3
0  Patrick        Sevilla      1    1  0  1  0   0   0   0
2    Denis         Napoli      0    0  0  0  0   0   0   0
3   Andrew  Villarreal CF      1    0  0  0  1   0   3  -3

Qual confronto você quer preencher?
4

Confronto: ('Napoli', 'Villarreal CF')

Quanto foi o placar?

Napoli : 0

'Villarreal CF' : 0

Os times empataram!

   Jogador           Time  Jogos  Pts  V  E  D  GF  GS  SG
1     João           Roma      2    4  1  1  0   3   0   3
0  Patrick        Sevilla      1    1  0  1  0   0   0   0
2    Denis         Napoli      1    1  0  1  0   0   0   0
3   Andrew  Villarreal CF      2    1  0  1  1   0   3  -3

Qual confronto você quer preencher?
2

Você já respondeu esse confronto. Escolha outro.

Qual confronto você quer preencher?
3

Confronto: ('Roma', 'Napoli')

Quanto foi o placar?

Roma : 4

'Napoli' : 2

O Roma ganhou a partida!

   Jogador           Time  Jogos  Pts  V  E  D  GF  GS  SG
1     João           Roma      3    7  2  1  0   7   2   5
0  Patrick        Sevilla      1    1  0  1  0   0   0   0
2    Denis         Napoli      2    1  0  1  1   2   4  -2
3   Andrew  Villarreal CF      2    1  0  1  1   0   3  -3

Qual confronto você quer preencher?
5

Confronto: ('Sevilla', 'Villarreal CF')

Quanto foi o placar?

Sevilla : 1

'Villarreal CF' : 0

O Sevilla ganhou a partida!

   Jogador           Time  Jogos  Pts  V  E  D  GF  GS  SG
1     João           Roma      3    7  2  1  0   7   2   5
0  Patrick        Sevilla      2    4  1  1  0   1   0   1
2    Denis         Napoli      2    1  0  1  1   2   4  -2
3   Andrew  Villarreal CF      3    1  0  1  2   0   4  -4

Qual confronto você quer preencher?
6

Confronto: ('Sevilla', 'Napoli')

Quanto foi o placar?

Sevilla : 0

'Napoli' : 0

Os times empataram!

   Jogador           Time  Jogos  Pts  V  E  D  GF  GS  SG
1     João           Roma      3    7  2  1  0   7   2   5
0  Patrick        Sevilla      3    5  1  2  0   1   0   1
2    Denis         Napoli      3    2  0  2  1   2   4  -2
3   Andrew  Villarreal CF      3    1  0  1  2   0   4  -4